.sidebar-main {
    width: 20%;
    height: 100%;
    position: relative;
    background-color: red;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
}

.upgrade-wrapper{
    width: 100%;
    display: flex;
}

.upgrade-button {
    border: none;
    width: fit-content;
    height: 100%;
}

.upgrade-picture {
    cursor: pointer;
    width: 100%;
    height: 110%;
}