.sidebar-main {
    width: 20%;
    height: 100%;
    background-color: red;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}

.sidebar-main > * {
    cursor: pointer;
}

.upgrade-main{
    width: 100%;
    height: 20%;
    flex-direction: column;
}

.upgrade-wrapper {
    display: flex;
    height: 50%;
    padding: 0.5em;
}

.minion-shop-main{
   height: 100%;
}